:root {
    --main-bg-color: white;
    --text-gray: #828282;
    --nav-text-size: 18px;
    --text-dark: #070707;
    --gray-bg-color: #f6f6f6;
}

@font-face {
	font-family: 'Gilroy';
    font-weight: normal;
	src: local('Gilroy'),
		url(fonts/Gilroy-Medium.eot),
        url(fonts/Gilroy-Medium.woff);
}

@font-face {
	font-family: 'Gilroy';
    font-weight: bold;
	src: local('Gilroy'),
		url(fonts/Gilroy-Bold.eot),
        url(fonts/Gilroy-Bold.woff);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: white;
    font-family: 'Gilroy';
    font-size: 18px;
    scroll-behavior: smooth;
}

.container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    overflow-x: hidden;
}

.section {
    padding-top: 100px;
    padding-bottom: 100px;
}

.bg-gray {
    background-color: var(--gray-bg-color);
}

.title {
    font-weight: bold;
    font-size: 34px;
    margin-bottom: 36px;
}

.btn {
    display: block;
    text-decoration: none;
    background-color: var(--text-dark);
    text-align: center;
    border-radius: 15px;
    padding-top: 13px;
    padding-bottom: 13px;
    width: 180px;
    font-weight: bold;
    color: white;
    transition: 0.3s;
}

.btn:hover {
    background-color: red;
}

/* Header */

.header {
    /* display: flex;
    align-items: center; */
    color: var(--text-gray);
    font-size: var(--nav-text-size);
    font-weight: bold;
}

.header__container {
    border-bottom: 1px solid var(--text-gray);
}

.main-navigation__list {
    width: 100%;
    min-height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-navigation__item {
    list-style-type: none;
}

.main-navigation__link {
    text-decoration: none;
    color: inherit;
}

.main-navigation__link:hover {
    color: var(--text-dark);
}

/* about*/

.about {
    color: var(--text-dark);
}

.about__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about-info {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-top: 40px;
    padding-bottom: 30px;
}

.about__title {
    padding: 0;
    margin: 0;
    text-transform: uppercase;
    font-size: 48px;
    width: 150px;
}

.languages {
    text-transform: uppercase;
    transform: rotate(-90deg) translate(17px);
}

.lang {
    border: none;
    background: transparent;
    text-transform: uppercase;
    font-family: inherit;
    font-weight: bold;
    color: var(--text-gray);
    cursor: pointer;
}

.lang:hover {
    color: var(--text-dark);
}

.lang--active {
    color: var(--text-dark);
    cursor: text;
}

/* about me */

.about-me__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-me__text {
    text-align: center;
    margin-bottom: 20px;
    width: 40%;
}

.about-me__text:last-child {
    margin-bottom: 0;
}

/* portfolio */

.portfolio__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.portfolio__item {
    position: relative;
}

.portfolio__description {
    position: absolute;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 80px;
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
    top: 0;
    right: -50%;
    width: 30%;
    background-color: var(--gray-bg-color);
    opacity: 0.9;
    height: 100%;
    transition: 0.3s;
}

.portfolio__subtitle {
    margin-bottom: 20px;
}

.portfolio__text {
    margin-bottom: 20px;
    text-align: center;
}

.portfolio__item:hover > .portfolio__description {
    right: 0;
    transition: 0.3s;
}